@font-face {
	font-family: "Roboto Regular";
	src: url("../fonts/Roboto-Regular.woff2");
}

@font-face {
	font-family: "Inter Regular";
	src: url("../fonts/Inter-Regular.ttf");
}

@font-face {
	font-family: "Inter Bold";
	src: url("../fonts/Inter-Bold.ttf");
}
body {
    width: 100vw;
    height: 568px;
    background: #767373;
}

.search_form{
    position: absolute;
    width: 100vw;
    height: 118px;
    left: 0px;
    top: 0px;

/* Magenta baground */

   background: #2F808B;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cross_add{
    position: absolute;
    width: 18px;
    height: 18px;
    left: calc(100vw - 15%);
    top: 24px;
    display: flex;
    align-items: flex-end;
    text-align: center;

/* Row table background */

    color: #D9D9D9;
}

.like_h1{
   position: absolute;
   width: 144px;
   height: 28px;
   left: 83px;
   top: 24px;

/* H1 Roboto */

   font-family: "Roboto Regular",sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 28px;
   display: flex;
   align-items: flex-end;
   text-align: center;

/* Head H1 color */

   color: #171A56;

   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.search_field{
   position: absolute;
/*   width: 229px;   */
   width: calc(100vw - 30%);
   height: 32px;
   left: 35px;
   top: 62px;
/* Row table background */
   background: #D9D9D9;
   box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.search_btn {
   position: absolute;
   width: 24.96px;
   height: 24.24px;
/*   left: 276px;     */
   left: calc(100vw - 15%);
   top: 65px;
}

.scroll_section{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 118px;
  left: 0;
  overflow-y: scroll;
}
.row_table {
    display: flex;
    width: calc(100vw - 25px);
    height: 74px;

/* Row table background */
    background: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 10px;
}


/*.id_style, .name_style, .email_style {} */
.first_section {
     display: flex;
     width: calc(100vw/3);
     height:75px;
     align-items: center;
     justify-content: center;
}
.photo{
     width: 55px;
     height:60px;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 10px;
}
.second_section {
    width: 75%;
    height:75px;
     align-items: center;
     justify-content: center;

}
.id_style {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 20px;
    left: 21px;
    top: 27px;
    color: #389E9E;
}

.name_style {
    display: flex;
    weight: 500px;
    height: 35px;
    align-items: center;
    justify-content: left;
    padding-left:20px;
    text-decoration: none;



/* Head H2 */

    font-family: "Inter Regular", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}
.name_style:visited{
     color: #000000;
}

.email_style {
    display: flex;
    weight: 500px;
    height:30px;
    align-items: center;
    padding-left: 20px;
    justify-content: left;

/* table text */

    font-family: "Inter Regular", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}