/* Login */
@font-face {
	font-family: "Roboto Regular";
	src: url("../fonts/Roboto-Regular.woff2");
}

@font-face {
	font-family: "Inter Regular";
	src: url("../fonts/Inter-Regular.ttf");
}

@font-face {
	font-family: "Inter Bold";
	src: url("../fonts/Inter-Bold.ttf");
}
body{
    position: absolute;
    left: 0px;
    top: 0px;
/*    width: 320px; */
    width: 100vw;
    height: 568px;
    background: #1E3136;
    justify-items: center;
    padding: 0px;
    margin: 0px;
}
.main_frame{
    position: relative;
    display: flex;
/*    top: 250px;   */
    top: 0px;
    left: 0px;
/*    width: 320px; */
    width: c 100vw;
    height: 568px;
    margin: 0px;
/* Background Main */
    background: linear-gradient(179.3deg, #217D92 13.85%, rgba(25, 177, 217, 0) 97.49%);
    justify-items: center;
}

.logo {
   position: absolute;
   display: flex;
   width: calc(100vw - 13px);
   height: 240px;
   top: 0px;
   left:0 px;
   justify-content: center;

}
img{
   position: absolute;
   width: 320px;
   height: 240px;
   justify: center;
}
.login {
   position: absolute;
   display: flex;
   width: calc(100vw - 13px);
   height: 47px;
   top: 237px;
   left:0 px;
   justify-content: center;

}
.customer_name {
    display: flex;
    position: absolute;
    width: 266px;
    height: 47px;
    text-align: center;
    background: #D9D9D9;
    font-family: "Inter Regular",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;}

.pwd {
   position: absolute;
   display: flex;
   width: calc(100vw - 13px);
   height: 47px;
   top: 305px;
   left:0 px;
   justify-content: center;


}
.customer_pwd {
    display: flex;
    position: absolute;
    width: 266px;
    height: 47px;
    text-align: center;
    background: #D9D9D9;
    font-family: "Inter Regular",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    }

.button_sign_up {
   position: absolute;
   display: flex;
   width: calc(100vw - 13px);
   height: 47px;
   top: 382px;
   left:0 px;
   justify-content: center;

}
.btn_login{
   position: absolute;
   width: 174px;
   height: 46px;
/* Button background */
   background-color: transparent;
   border-radius: 10px;
/* Button text */
   font-family: "Inter Regular",sans-serif;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;

   color: #FFFFFF;
}
.message_warning {
    display: flex;
    height: 46px;
    width: calc(100vw - 3px);
    background: #CE7676;

    font-family: "Inter Regular", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    display: flex;
    align-items: center;
    text-align: center;
/* Row table background */
    color: #D9D9D9;
    justify-content: space-evenly;
}
.x_btn_warning {

    width: 30px;
    height: 30px;
    font-size: 20px;
    transform: rotate(45deg);
    border: 0;
/*  border-radius: 50%; */
    color: #D9D9D9;
    margin-left: 30px;
    align-items: center;
    text-align: center;

}
.x_btn_warning{
    background: #CE7676;
}
