/* Login */
@font-face {
	font-family: "Roboto Regular";
	src: url("../fonts/Roboto-Regular.woff2");
}

@font-face {
	font-family: "Inter Regular";
	src: url("../fonts/Inter-Regular.ttf");
}

@font-face {
	font-family: "Inter Bold";
	src: url("../fonts/Inter-Bold.ttf");
}
body{
    position: absolute;
    left: 0px;
    top: 0px;
/*    width: 320px; */
    width: 100vw;
    height: 568px;

/* Back dark */

background: #767373;
}
.main_frame{
    position: relative;
    display: flex;
/*    top: 250px;   */
    top: calc(100vh/2 - 159px);
    left: 0;
/*    width: 320px; */
    width: calc(100vw - 3px);
    height: 318px;
/* Background Main */
    background: #C4BCBC;
    border-radius: 10px;
}

.header {
   position: absolute;
/*   width: 320px;  */
   width: calc(100vw - 3px);
   height: 63px;
   left: 0px;
   top: 0px;
   display: flex;
   align-items:center;
   justify-content: center;
   text-align: center;
/* Magenta baground */

   background: #2F808B;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 10px;
}
.like_h1{
    /* Enter login & password */
    position: absolute;
    display: flex;
    width: calc(100vw - 10px);
    height: 28px;
/* H1 Roboto */
    font-family: "Roboto Regular",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    justify-content: center;
    text-align: center;
/* Head H1 color */
   color: #171A56;
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.customer_name {
    box-sizing: border-box;
    position: absolute;
/*    width: 318px; */
    width: calc(100vw - 3px);
    height: 74px;
    left: 0px;
    top: 77px;
/* Row table background */
    background: #D9D9D9;
/* Row table background */
   border: 1px solid #D9D9D9;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 10px;
}


.name_field {
   box-sizing: border-box;
   position: absolute;
/*   width: 272px; */
   width: calc(100vw - 46px);
   height: 46px;
   left: 15px;
   top: calc(50% - 46px/2);
   background: #D9D9D9;
   /* Back dark */
   border: 1px solid #767373;
   box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 10px;

/* Head H2 */
   font-family: "Inter Regular",sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 20px;

}
.name_field::placeholder {

   width: calc(100vw - 46px);
   height: 24px;
/* Head H2 */
   font-family: "Inter Regular",sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   line-height: 24px;
   display: flex;
   align-items: flex-end;
   text-align: center;

/* Back dark */

   color: #767373;
}
.customer_email {
   box-sizing: border-box;
   position: absolute;
/*   width: 318px; */
   width: calc(100vw - 3px);
   height: 74px;
   left: 1px;
   top: 166px;

/* Row table background */
   background: #D9D9D9;
/* Row table background */
   border: 1px solid #D9D9D9;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 10px;
}
.email_field{
   box-sizing: border-box;
   position: absolute;
/*   width: 272px;  */
   width: calc(100vw - 46px);
   height: 46px;
   left: 15px;
   top: calc(50% - 46px/2);
   background: #D9D9D9;
/* Back dark */
   border: 1px solid #767373;
   box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 10px;
   font-family: "Inter Regular",sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;

}
.email_field::placeholder{

   width: calc(100vw - 46px);
   height: 19px;

/* table text */

   font-family: "Inter Regular",sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   display: flex;
   align-items: flex-end;
   text-align: center;
/* Back dark */
   color: #767373;
}
.footer {
   position: absolute;
/*   width: 320px; */
   width: calc(100vw - 3px);
   height: 63px;
   left: 0;
   top: 254px;

   display: flex;
   align-items:center;
   justify-content: center;

/* Magenta baground */
   background: #2F808B;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 10px;
}
.btn_login{
   box-sizing: border-box;
   position: relative;
   width: 200px;
   height: 42px;

/* Button background */
background: #389E9E;
/* Button text */
   border: 1px solid #4B4646;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 16px;

/* Button text */

   font-family: "Inter Regular",sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   text-align: center;
   color: #4B4646;

}
