{% extends 'users/customers_mobile.html' %}

{% block content %}
{% for name in names %}
   {% set filename = "images/" + name['photo'] if name['photo'] !='' else 'images/person.png' %}

  <div class="row_table">
     <div class="first_section">
         <img class = "photo"
          src="{{ url_for('static',filename= filename) }}"
          alt = "photo" >

     </div>

     <div class = "second_section">
         <a class = "name_style" href = "{{ name['id'] }}"> {{name['name']}}</a>
         <label class = "email_style">{{name['email']}}</label>

     </div>
  </div>
{% endfor %}
{% endblock %}
