<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login </title>
    <link type="text/css" href="{{url_for('static', filename ='login_mobile.css')}}" rel="stylesheet">
</head>
<body>
<div class = "main_frame">
<form action="{{ url_for('login_user') }}" method="post">

    {% include "users/post_mobile.html" %}

    <div class="footer">
        <input class="btn_login" type="submit" value="Login">
    </div>
</form>
</div>
</body>