<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New castomer Add</title>
    <link type="text/css" href="{{url_for('static', filename ='new_castomer.css')}}" rel="stylesheet">
</head>
<body>
<div class = "main_frame">
<form action="{{ url_for('users_post')}}" method="post">
  <div class = "header">
       <label class="like_h1">New castomer</label>
  </div>

    <label class="castomer_name">
      <label class="h2_name">Name</label>
      <input class ="name_field" type="text" name="name" placeholder ="{{ errors['name'] }}" value="{{ user.name }}">
    </label>

    <label class="castomer_email">
      <label class="h2_email">Email</label>
      <input class="email_field" type="email" required name="email" placeholder ="for@example.com" value="{{ user.email }} {{ errors['email'] }}">
    </label>
    <div class="footer">
        <input class="btn_add" type="submit" value="Add">
    </div>
</form>
</div>
</body>