<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit customer </title>
    <link type="text/css" href="{{url_for('static', filename ='show_customer_mobile.css')}}" rel="stylesheet">
</head>
<body>
    <div class="header">
        <label class="like_h1">Edit CUSTOMER</label>
    </div>
    <div class="main_frame">
        <div  class="scroll_section">
         <div class="photo_section">
            {% set photo = "images/" + user.photo if user.photo !='' else 'images/person.png' %}
             <img  id="result" class="photo" src="{{ url_for('static', filename=photo) }}" alt="photo">
             <form method=POST enctype=multipart/form-data action="{{ url_for('patch_user', id = user.id ) }}">
               <input type="file" name="file" class="input input__file" id="uploadImage">   <!--id="input__file" > -->
               <label class="input__file-button"  for="uploadImage"><img src="{{ url_for('static', filename='images/change_photo.png') }}" alt="change photo"></label>                                           <!--for="input__file">Выбери файл</label> -->

        </div>
        <div class="name_section">
           <label class="customer_name">Name</label>
           <input class="h2_name_input" type="text" name="name" value="{{ user.name }}">
        </div>
        <div class="birthday_section">
            <label class="birthday">Birthday</label>
            <input class="date_input" type="date" name="birthday" value="{{ user.birthday }}">
        </div>
        <div class="email_section">
          <img class="email_img" src="{{ url_for('static', filename='images/email.png') }}" alt="email pict">
          <input  class="customer_email_input"type="text" name="email" value="{{ user.email }}">
       </div>
        <div class="phone_section">
         <label class="phone_img"><img src="{{ url_for('static', filename='images/phone.png') }}" alt="phone pict"></label>
         <input class="phone_input" type="tel" name="phone" placeholder="+0 000 000 000" value="{{ user.phone }}">
       </div>
       <div class="address_section">
           <label class="address"> Address:</label>
           <input class="text_address" type="text" name="address" value="{{ user.address }}">
       </div>

         <input class="input__file-button" style = "
                  position: absolute;
                  top: 15px;
                  left: 15px;
                  width: 53px;
                  height: 53px;
                  border: 0;
                  background-color: transparent;
                  background-image: url('{{url_for('static', filename='images/icon_save.png') }} ');
                  background-repeat: no-repeat;"
                type=submit value="">
            {{messages}}
<!--       <div class="controls">
         <a class ="edit_img" href = "{{url_for('users_for_update', id = user['id'])}}"> <img src="{{ url_for('static', filename='images/user_edit.png') }}" alt="user edit pict"></a>
         <a class ="trash_img" href = "{{url_for('users_for_delete', id = user['id'])}}"><img src="{{ url_for('static', filename='images/trash.png')}}" alt="trash pict">  </a>
         </div>-->
   </div>
    </div>
   </form>
</body>

<script>
FReader = new FileReader();

// событие, когда файл загрузится
FReader.onload = function(e) {
    document.querySelector("#result").src = e.target.result;
};

// выполнение функции при выборки файла
document.querySelector("input").addEventListener("change", loadImageFile);

// функция выборки файла
function loadImageFile() {
    var file = document.querySelector("input").files[0];
    FReader.readAsDataURL(file);
}
</script>
</html>


